.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff; //white
  h3{
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #44D6FF;
  border-color: #B1ABE8;
}

.well.profile-contact-info {
  background-color: #FF89A0;
  border-color: #B1ABE8;
}