.avatar-show-img {
  width: 128px;
  height: 128px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2ebda4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: #fff; //white
  h3{
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #44D6FF;
  border-color: #B1ABE8;
}

.well.profile-contact-info {
  background-color: #FF89A0;
  border-color: #B1ABE8;
}